<div class="show-photos">
  <div class="photo">
    <div class="header">
      <h1><%=photo.username %></h1>
      <hr>
    </div>
    <img src= "<%=photo.url%>"	>
    <p><%=photo.caption %></p>
  </div>
</div>
