@import "bootstrap";
@import "home";
@import "photos";

body {
  background: #3498db;
  color: #fff;
  height: 100%;
  width: 100%;
}

.photo {
  width: 500px;
  margin: 20px auto;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
}

hr {
  color: #fff;
}
